*/Makefile
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1
*.o
*.a
*.so
*.exe
*.log
*.old
*.swp
*.bak
.#*
*~
*.deps
*.mo
a.out
conspire.pc
conspire
conspire-bot
gchat.pc
gchat
gchat-bot
gchat-text
xchat
xchat-text
tools/make-te
src/common/conspire-config.h.in
src/common/conspire-config.h
src/common/gchat-config.h.in
src/common/gchat-config.h
extra.mk
configure
buildsys.mk
aclocal.m4
